@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
:root {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 15px; }

*,
*::before,
*::after {
  box-sizing: inherit; }

figure,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0; }

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover; }

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none; }

body {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #090b1a;
  color: white; }
  @media (min-width: 768px) {
    body {
      width: 80%; } }

.attribution {
  text-align: center;
  margin-bottom: 0.5rem; }
  @media (min-width: 768px) {
    .attribution {
      position: absolute;
      bottom: 1rem;
      font-size: 0.8rem; } }

.card {
  margin-bottom: 2rem;
  padding: 2rem 0; }
  @media (min-width: 768px) {
    .card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 0;
      padding: 0; } }
  .card__figure {
    background-image: linear-gradient(rgba(170, 92, 219, 0.4), rgba(170, 92, 219, 0.4)), url(../../images/image-header-mobile.jpg);
    filter: contrast(190%);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 40vh;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0; }
    @media (min-width: 768px) {
      .card__figure {
        border-radius: 0 0.5rem 0.5rem 0;
        height: 100%;
        order: 1; } }
    @media (min-width: 1024px) {
      .card__figure {
        background-image: linear-gradient(rgba(170, 92, 219, 0.4), rgba(170, 92, 219, 0.4)), url(../../images/image-header-desktop.jpg); } }
  .card__information {
    background-color: #1b1938;
    padding: 2rem;
    text-align: center;
    border-radius: 0 0 0.5rem 0.5rem; }
    @media (min-width: 768px) {
      .card__information {
        border-radius: 0.5rem 0 0 0.5rem;
        padding: 2rem; } }
    @media (min-width: 1024px) {
      .card__information {
        padding: 3rem 5rem; } }
    .card__information h3 {
      color: white;
      font-family: "Inter", sans-serif;
      font-size: 1.8rem;
      margin-bottom: 1rem; }
      @media (min-width: 768px) {
        .card__information h3 {
          text-align: left;
          font-size: 1.5rem; } }
      @media (min-width: 1024px) {
        .card__information h3 {
          font-size: 2.2rem; } }
      .card__information h3 span {
        color: #aa5cdb; }
    .card__information p {
      line-height: 1.6;
      color: rgba(255, 255, 255, 0.75);
      font-size: 1.1rem; }
      @media (min-width: 768px) {
        .card__information p {
          text-align: left;
          font-size: 1rem; } }
      @media (min-width: 1024px) {
        .card__information p {
          font-size: 1.2rem; } }
    .card__information div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 2rem;
      text-align: center; }
      .card__information div * + * {
        margin-top: 1.5rem; }
        @media (min-width: 768px) {
          .card__information div * + * {
            margin-top: 0; } }
      @media (min-width: 768px) {
        .card__information div {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          text-align: left;
          margin-top: 3rem; } }
      @media (min-width: 1024px) {
        .card__information div {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          text-align: left;
          margin-top: 5rem; } }
      .card__information div span {
        font-size: 1.5rem;
        color: white;
        font-weight: 700;
        font-family: "Inter", sans-serif; }
      .card__information div small {
        display: block;
        text-transform: uppercase;
        margin-top: 0.3rem;
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.6);
        font-weight: 400; }

/*# sourceMappingURL=styles.css.map */
